<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <test verbose="2" preserve-order="true" name="Selenium Demo">
        <classes>
           <class name="loginpage">
              <methods>
                  <exclude name="LoginWithOutUsername"/>
                  <exclude name="LoginWithOutPassword"/>
              </methods>

           </class>
        </classes>






    </test>
</suite>